$primary-color: #162938;
$secondary-color: #3daef1;
$background-color: #f0f8ff;

$accent-color-red: #ff5545;
$accent-color-yellow: #f2d446;
$accent-color-green: #83c77e;
$accent-color-purple: #989afe;

$font-book: 'AvenirLTStd-Book', sans-serif;
$font-medium: 'AvenirLTStd-Medium', sans-serif;
$font-heavy: 'AvenirLTStd-Heavy', sans-serif;
$font-code: Monaco,Menlo,Consolas,"Courier New",monospace;

@mixin transition($seconds) {
  -webkit-transition: all $seconds ease-in-out;
  -moz-transition:    all $seconds ease-in-out;
  -ms-transition:     all $seconds ease-in-out;
  -o-transition:      all $seconds ease-in-out;
  transition:         all $seconds ease-in-out;
}
