/* Account
--------------------------------------------- */

.blox-account .content {
	padding-top: 40px;
	max-width: 1000px;
}
.account-menu {
	border-bottom: 1px solid #ececec;
	font-size: 18px;
}
.account-menu .menu-item {
    display: inline-block;
    text-align: left;
}
.account-menu li a {
	color: $primary-color;
	font-family: $font-medium;
	letter-spacing: 1px;
	display: block;
  position: relative;
  padding: 0 20px 15px;
}
.account-menu li a:hover,
.account-menu li.current-menu-item a {
	color: #3daef1;
}
.account-menu #menu-item-logout {
	float: right;
}


@include media("screen","<=tablet"){
	.menu-account-nav-menu-container {
		margin-left: 6%;
		margin-right: 6%;
	}
	.account-menu #menu-item-logout {
		float: none;
	}
}
