
.blox-addons .site-inner {
	background-color: #f1f1f1;
}

.addon-list .item {
	background-color: #fff;
	margin-bottom: 80px;
	padding: 50px 50px 40px;
	border-bottom: 3px solid #dbdbdb;
}
.addon-list a.entry-image {
	line-height: 0;
	margin: -50px -50px 10px;
    display: block;
}
.addon-list .item p {
	margin-bottom: 20px;
}

.blox-addons .content .wp-post-image {
    margin-bottom: 30px;
}


/* Addon Single
--------------------------------------------- */

.meta-value h4 {
	margin-bottom: 10px;
}

.addons-home {
    border-top: 3px solid #dbdbdb;
    margin-top: 30px;
    padding-top: 15px;
}
