.blog .content {
	max-width: 1000px;
}

.blog .content .entry {
	margin-bottom: 80px;
}

.blog .site-inner {
	background-color: $background-color;
	padding: 100px 0 0;
}

.blog {
	.content {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		-webkit-justify-content: space-between;
		flex-flow: row wrap;
		justify-content: space-between;
	}

	.content article {
		background-color: #fff;
		width: 47%;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: column;
		flex-flow: column;
	}

	.entry-header {
		padding: 40px 40px 0;
	}
	.entry-content {
		padding: 0 40px 40px;
	}
}




.blog .more-link {
	background-color: #162938;
	border-radius: 50px;
	color: #fff;
	display: block;
	display: table;
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 2px;
	line-height: 1;
	margin: 20px auto 0;
	max-width: 250px;
	padding: 10px 24px;
	text-align: center;
	text-transform: uppercase;
}


.blog .more-link:hover {
	background-color: #3daef1;
	color: #fff;
}




@include media("screen", "<=tablet") {
  .blog {
	  	.content article {
			width: 100%;
		}

	  	.content .entry {
	    	margin-bottom: 40px;
	  	}
		.entry-header {
			padding: 40px 30px 0;
		}
		.entry-content {
			padding: 0 30px 40px;
		}
  	}
}
