/* Documentation Pages
--------------------------------------------- */

/* Documentation Single Pages
.documentation-home {
	border-top: 3px solid #dbdbdb;
	margin-top: 30px;
	padding-top: 15px;
}*/
.documentation-toc {
    padding: 25px 20px 15px;
    border: 1px solid #ececec;
    border-top: 3px solid #3daef1;

    .widget-title {
      margin-bottom: 20px;
    }
}

/* Documentation Archive Page */
#search_container {
	max-width: 800px;
	margin: 0 auto;
	position: relative;
	padding-top: 10px;

  input[type="text"] {
  	border: 1px solid #dbdbdb
  }
}

#search_results {
  background-color: #F0F8FF;
	width: 100%;

  h3 {
  	color: #162938;
  	margin-bottom: 25px;
  }
  h4 {
  	font-size: 18px;
  	margin-bottom: 10px;
  }
  .dashicons {
  	line-height: 1.5;
  	font-size: 18px;
  }
  p {
  	font-size: 15px;
  	padding: 0;
  	margin: 0
  }
}

.search-results-wrapper {
	max-width: 800px;
  margin: 0 auto 80px;
	padding: 60px 0 80px;

  @include media( "screen", "<=tablet" ){
    width: 100%;
    padding: 60px 5%;
    margin: 0 auto;
  }
}
.search-result {
	background: #fff;
	padding: 30px;
	margin-bottom: 30px;

  &:last-child {
  	margin-bottom: 0;
  }
}
.no-search-results {
	background: #fff;
	padding: 30px;
}
.submit-search {
	background-color: transparent;
	color: #162938;
	position: absolute;
	right: 0;
	top: 14px;
	font-size: 30px;
	height: 50px;
	width: 50px;
	padding: 0;
	outline:none;
	display: inline-block;
  line-height: 1;
  font-family: dashicons;
  text-decoration: inherit;
  font-weight: 400;
  font-style: normal;
  vertical-align: top;
  text-align: center;

  &:hover {
  	background-color: transparent;
  	color: #3daef1;
  }
}


.documentation-wrapper {
	width: 46%;
	float: left;
	clear: left;

  @include media("screen", "<=phone") {
    width: 100%;
  }

  &:nth-child(even) {
  	float: right;
  	clear: right;
  }
  &:last-child {
    .documentation-body {
    	margin-bottom: 30px;
    }
  }
}

.documentation-body {
	margin: 20px 0 50px;

  li {
  	margin-bottom: 8px;
      line-height: 1.5;
  }

  a {
  	color: $text-color;
    &:hover {
  	   color: $secondary-color;
    }
  }
}




.single-documentation article h2 {
  padding-bottom: 8px;
  margin-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.post-type-archive-documentation .page-title h1 {
	margin-bottom: 25px;
}

.archive.post-type-archive-documentation .site-inner {
  background-color: #fff;
  padding: 0;

  .content {
   max-width: 1000px;
 }
}

.documentation-home {
    a {
        width: 100%;
        @include media("screen", "<=tablet"){
            width: auto;
        }
    }
}


@media ( min-width: 782px ) {
	.documentation-body ul {
		-moz-column-count: 2;
		-moz-column-gap: 30px;
		-webkit-column-count: 2;
		-webkit-gap: 30px;
		column-count: 2;
		column-gap: 30px;
	}
}
