.blox-pricing {
  .site-title {
    a {
      color: #fff;
      &:hover {
        color: $primary-color;
      }
    }
  }

  .nav-primary {
    a {
      color: #fff;
      &:hover {
        color: $primary-color;
      }
    }

    .sub-menu {
      a {
        color: #fff;
        &:hover {
          color: $secondary-color;
        }
      }
    }
    .get-blox {
      a {
        background-color: $secondary-color;
        &:hover {
          color: $primary-color;
          background-color: #fff;
        }
      }
    }
  }

  .page-title {
    background-color: $primary-color;
    h1 {
      color: #fff;
    }
  }

  .content {
    max-width: 1000px;
    padding-top: 80px;
  }
}


.blox-pricing-table {
  background-color: $primary-color;
  padding-bottom: 80px;

  .pricing-table {
    margin: 0 auto;
    max-width: 1000px;
  }
  .pricing-subtext {
    margin: 0 auto;
    max-width: 800px;
    padding: 30px 0;
    text-align: center;
  }
}
