
/* Dark Header theme */
.dark-header {

    &.nav-show {
        .site-header {
            background-color: $primary-color;
        }
    }

    .site-title {
        a {
            color: #fff;
            &:hover {
                color: $secondary-color;
            }
        }
    }

    #responsive-menu-icon {
        &::before {
            color: #fff;
        }
    }

    .nav-primary {
        a {
            color: #fff;
            &:hover {
                color: $secondary-color;
            }
        }

        .sub-menu {

            a {
                background-color: #fff;
                color: $primary-color;

                &:hover {
                    color: $secondary-color;

                    @include media("screen", "<=desktop") {
                        background-color: $primary-color;
                    }
                }

                @include media("screen", "<=desktop") {
                    background-color: $primary-color;
                    color: #fff;
                }
            }
            &:before {
                border-color: #fff transparent;
            }
        }



        .get-blox {
            a {
                background-color: $secondary-color;
                &:hover {
                    color: $primary-color;
                    background-color: #fff;
                }
            }
        }
    }

    .page-title {
        background-color: $primary-color;
        h1 {
            color: #fff;
        }
    }

    .entry-subtitle {
        color: $text-color-dark;
    }

    .content {
        padding-top: 80px;
    }
}
