$primary-color: #162938;
$secondary-color: #3daef1;
$background-color: #f0f8ff;
$text-color: #556977;

$accent-color-red: #ff5545;
$accent-color-yellow: #f2d446;
$accent-color-green: #83c77e;
$accent-color-purple: #989afe;
