/* Blox "square" Icon
--------------------------------------------- */
@font-face {
	font-family: 'blox-icons';
	src:url('../fonts/blox-icon/blox-icons.eot?i3uhg4');
	src:url('../fonts/blox-icon/blox-icons.eot?#iefixi3uhg4') format('embedded-opentype'),
		url('../fonts/blox-icon/blox-icons.ttf?i3uhg4') format('truetype'),
		url('../fonts/blox-icon/blox-icons.woff?i3uhg4') format('woff'),
		url('../fonts/blox-icon/blox-icons.svg?i3uhg4#blox-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}
