.author-box {
	background-color: #fff;
	padding: 40px 50px;
	border-top: 1px solid #ececec;
	border-bottom: 1px solid #ececec;
	margin-bottom: 80px;

	@include media("screen", "<=tablet") {
		padding: 40px 0;
    margin-bottom: 40px;
	}

	@include media("screen","<=phone"){
		text-align: center;
	}

	.avatar {
		margin-right: 30px;

		@include media("screen","<=phone"){
			float:none;
			margin: 0 0 15px;
		}
	}

	.author-box-title {
		font-family: $font-medium;
		font-size: 22px;
		margin-bottom: 5px;
	}

	p {
		overflow: hidden;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
