/*
Flex Box
---------------------------------------------------------------------------------------------------- */

.grid .wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: space-between;
    -webkit-align-content: flex-start;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
}

.grid.columns .item {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-flow: column;
    flex-flow: column;
}

.grid.columns-2 .item {
    width: 47%;
}

.grid.columns-3 .item {
    width: 31%;
}

@include media("screen","<=tablet"){
  .grid.columns .item {
		width: 100%;
	}
}
