.latest-posts .item {
	background-color: #fff;
	margin-bottom: 80px;
}
.latest-posts a.entry-image {
	line-height: 0;
    display: block;
}


@include media("screen", "<=tablet") {
  .latest-posts .item {
		margin-bottom: 40px;
	}
}
