.simple-share-icons {
  text-align: center;
  
	a {
		vertical-align: middle;
		display: inline-block;
		border-radius: 100%;
		margin: 5px;
		padding: 14px;
		background-color: $primary-color;
		transition: all .1s ease-in;
		line-height: 0;

		&:hover {
			background-color: $secondary-color;
		}
	}

	svg {
		fill: #fff;
		width: 24px;
		height: 24px;
	}
}
