.page-title {
	color: #162938;
	padding: 180px 0 80px;
	text-align: center;

  h1 {
    margin-bottom: 0;
  }

  .archive-title,
  .entry-title {
      font-size: 50px;
  }
}

.title-categories {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
}
.title-meta {
	color: $text-color;
	font-size: 20px;
	margin-top: 15px;
}

.entry-title {
	font-size: 24px; // Was 36
}

.archive-description p,
.entry-subtitle {
	color: $text-color;
	margin: 5px 0 0;
	font-size: 22px;
}

.content .entry-title a,
.grid .entry-title a,
.sidebar .widget-title a {
	color: #162938;
}

.entry-title a:hover {
	color: #3daef1;
}

@include media("screen","<=desktop"){
  .page-title,
	.error404 .page-title {
		padding: 100px 0 40px;
	}

	.page-title .archive-title,
	.page-title .entry-title {
		font-size: 36px;
	}

	.archive-description p,
	.entry-subtitle {
		font-size: 18px;
	}
}
