.content {
	float: left;
	padding: 0 100px 50px 0;
	width: 76%;
}

.full-width-content .content {
    float: none;
    margin: 0 auto;
    max-width: 800px;
    padding: 0;
    width: 100%;
}

.sidebar {
	float: right;
	font-size: 16px;
	margin-bottom: 0;
	width: 24%;

  li {
    margin-bottom: 5px;
		a {
			color: $text-color;

			&:hover {
				color: $secondary-color;
			}
		}
  }

	// Correct for overriding styles
	li.current_menu_item {
		a {
			color: $secondary-color;
		}
	}

  ul > li:last-child {
  	margin-bottom: 0;
  }
}

@include media("screen", "<=tablet") {
  	.full-width-content .content,
  	.content,
  	.sidebar {
  		width: 100%;
  		padding: 60px 5%;
  	}
}

@import "entries";
@import "comments";
@import "pagination";
