.pagination {
	margin: 0 auto;
	text-align: center;
}

.adjacent-entry-pagination {
	margin-bottom: 0;
}

.archive-pagination li {
	display: inline;
	margin-right: 4px;

	a {
		background-color: $primary-color;
		color: #fff;
		cursor: pointer;
		display: inline-block;
		font-size: 16px;
		padding: 8px 12px;
		width: 40px;
		height: 40px;
	}
}

.archive-pagination li.pagination-next {
	a {
		width: auto;
		padding: 8px 20px;
	}
}


.archive-pagination li a:hover,
.archive-pagination .active a {
	background-color: $secondary-color;
	color: #fff
}
